# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
app_env/

# Django
server/db.sqlite3
server/*.log

# Node / React
client/node_modules/
client/build/
client/dist/
client/
tasks/

# Docker
docker-compose.yml